html, body {
  margin: 0;
  padding: 0;
background-color:black
}

canvas {
  padding-left:40%;
  padding-top:5%;
}

div{
  
  padding-left:48%;
  padding-top:2%;
  color:#12AAFF;
  font-size:20px
}

.text1{
  
  padding-left:45%;
  padding-top:1%;
}


.text2{
  
  padding-left:45%;
  
}
